* {
    margin: 0px;
    padding: 0px;
}

body {
    background:#fff2dc;
}

.title-main {
    padding-left: 29px;

}

#img {
    width: 100%;
    
}
.text {
    text-align: center;
    color: #d2b48c;
    font-size: 23px;
    background: #2f4f4f;
    padding: 45px;

}


em strong {
    color: #f4a460;
}
.itens {
    padding: 25px;
}
.itens h3 {
    margin-bottom: 25px;
}
.list {
    font-style: italic;
}

.title-secondary {
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    margin-left: 5%;
}
#imgtwo {
    width: 50%;
}

