* {
    margin: 0px;
    padding: 0px;
}
body {
    background: #f0ffff;

}
#img {
    width: 100%;
    margin: auto;
}
.text {
    text-align: center;
    color: #d2b48c;
    font-size: 23px;
    background: #2f4f4f;
}


em strong {
    color: #f4a460;
}

.list {
    font-style: italic;
}

h2 {
    text-align: center;
}

#imgtwo {
    width: 50%;
}