* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar {
    display: flex;
    background-color: #ebb248;
    padding: 25px;
    height: 17%;
    justify-content: space-around;
    
    
}


#logo {
    height: 250px;
    
}

.itensnavbar {
    display: flex;
    flex-direction: row;
   
    align-items: center;
    
    
}

.itensnavbar li a {
    text-decoration: none;
}

.itens {
    margin: 25px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    
}
